Flask~=3.0.0
Gunicorn~=23.0.0
aiohttp
certifi
gevent
requests
jsons
pyjavaproperties~=0.7
from_root
pytest
flask_cors
coverage-badge
pytest-cov
genbadge
defusedxml
liturgical-calendar==0.5.3
prometheus-flask-exporter==0.23.2
